option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "ojirefj09jf0349fc3"
    MASTER_KEY: "jf94u5nf84dn484nc"
    DATABASE_URI: "mongodb://heroku_s8mhlj4z:gn65l3nspjq3s7n8o5jj7glaai@ds149489.mlab.com:49489/heroku_s8mhlj4z"
    NODE_ENV: "production"
    SERVER_URL: "http://parse-test-01.herokuapp.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
